
form{
  background-color: black;
  padding: 10px;
}
  input[type='range'] {
    box-sizing: border-box; 
    padding: 0px;
    margin: 0px;
    width: 541px;
    height: 50px;
    background: -moz-repeating-linear-gradient(90deg, #777, #777 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
  }
  label{
    padding: 5px 30px 5px 30px;
    background-color: #eeeeee59;
    border-radius: 6px;
    margin-right: 50px;
    text-transform: capitalize;
    color: rgb(238 238 238);
    text-shadow: 0 0 20px #05c2d9, 0px 0px 20px #eeeeee;;
}
 input::after {
        position: absolute;
    color: #777;
    content: '20 40 60 80 100 120 140 160 180';
    padding: 56px;
    word-spacing: 37px;
    left: 2%;
    top: 17%;
    z-index: 2;
}
  .container {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 700px;
    border: 4px #05c2d9 solid;
    padding: 15px;
    text-align: left;
    border-radius: 6px;
    color: white;
    box-shadow: 0px 0px 20px 0px #05c2d9;
    background-color: rgb(239 239 239 / 16%);
  }
  .main{
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 700px;
    border: 4px #05c2d9 solid;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    border-radius: 6px;
    /* background-color: white; */
    text-shadow: 0px 0px 25px #05c2d9;
    background-color: rgb(0 9 10);
    color: white;
    
  }
  output{
    display: block;
    margin-top: 20px;
    color: #777;
  }
  output:before{
    content:"Selected Value: ";
    font-weight: bold;
  }
  body {
    font-family: Calibri, Arial;
  }
  button,a{
    width: 130px;
    margin-left: 30px;
    background-color: #05c2d9;
    padding: 8px;
    border-radius: 6px;
    color:#f8f8f8 ;
    text-transform: capitalize;
    text-decoration: none;
    box-shadow: 0px 0px 20px 0px #f8f8f8;
  }
